.home {
  width: 100dvw;
  height: 100vh;
}

.home-name {
  @include center-fixed;
  @include flexbox;
  flex-direction: column;
}

.home-title {
  font-family: $font-title;
  color: $text;
  font-size: 8vw;
  white-space: nowrap;
}

.home-frontend {
  font-family: $font-title;
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width: 0.2vw;
  -webkit-text-stroke-color: $text;
  font-size: 6vw;
}

.container.fade-in {
  animation: fadeIn 1s;
}

.container.fade-out {
  animation: fadeOut 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
