.menu-container {
  background-color: transparent;
  // position: absolute;
  // width: 100dvw;
}

.menu-bar {
  @include flexbox(between, center);
  padding: 3rem;
  font-size: 15px;
  font-weight: 400;
  z-index: 1;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: $text;
  color: $background;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0);
}

.menu-link-item {
  padding: 10px 0 10px 16vw;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
  position: relative;
}

.menu-link {
  font-family: $font-title;
  font-size: 8vw;
}
